.single-carousel {
  margin-right: 0px;
  &__image {
    max-width: 30%;
  }
}

@include media-breakpoint-up(sm) {
  .single-carousel {
    margin-right: 3.125rem;
    &__image {
      max-width: 100%;
    }
  }
}