/* CLA Bar */

.c-cla {
  min-height: $cla-height-sm;
  color: $white;
  background: $blue-gradient;
  padding: 3rem 0 2rem;

  &__content {
    font-size: 1.6rem;
  }

  &__buttons {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
  }
}

@include media-breakpoint-up(md) {
  .c-cla {
    min-height: $cla-height-lg;
  }
}

@include media-breakpoint-up(lg) {
  .c-cla {
    min-height: $cla-height-lg;
    &__buttons {
      display: block;
    }
  }
}

/* End CLA Bar */