/* Section Copyright */

.l-copyright__flex {
  display: flex;
  justify-content: center;
  margin: 0.625rem auto;
}

@include media-breakpoint-up(sm) {
  .l-copyright__flex {
    display: block;
  }
}

/* End Section Copyright */