/* Section Footer */

.footer {
  &__about {
    margin-top: 3.125rem;
  }

  &__description {
    font-size: 15px;
    line-height: 23px;

    &--bottom {
      color: $grey;
      font-size: 1.25rem;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    color: $light-blue-font;
    font-weight: $semi-bold;
    font-size: 1.25rem;

    &:after {
      @include blue-gradient-line(0.625rem, 55%);
      flex-grow: 0;
    }
  }

  &__list {
    margin-top: 1.25rem;
  }
}
/* End Section Footer */