/* Header */
.hero {
  &__caption {
    background-color: $white;
    box-shadow: $suble-box-shadow;
    padding: 2rem;
  }

  &__heading--big {
    @include heading($heading-font-big-sm, $dark);
    font-weight: $semi-bold;
  }

  &__heading--small {
    @include heading($heading-font-small-sm, $light-blue-font);
    display: flex;
    align-items: center;
    
    &:after {
      @include blue-gradient-line(0.625rem);
    }
  }
}


// media of at least the breakpoint width
@include media-breakpoint-up(sm) {
  .hero {
    position: relative;
  
    &__caption {
      position: absolute;
      bottom: 15%;
      left: 15%;
      padding: 1rem;
    }
  
    &__heading--big {
      @include heading($heading-font-big-lg, $dark);
    }
  
    &__heading--small {
      @include heading($heading-font-small-lg, $light-blue-font);
    }
  }
}

/* End Header */