.basket {
  &__title {
    color: $dark;
  }

  &__content {
    &__header {
      border: none;
    }

    &__body {
      &__row {
        border-bottom: 1px solid $grey;

      &:nth-child(odd) {
        background-color: $light-grey;
      }

      &:last-child {
        border: none;
      }
      }

      &__top {
        margin-top: 2rem;
        color: $grey;
        
        &--price {
          text-decoration: line-through;
        }
      }
      &__bottom {
        font-weight: $semi-bold;

        &--logo {
          color: $dark;
          font-size: 1.3rem;
        }
        &--price {
          color: $orange;
          font-size: 1.5rem;
        }
      }
    }
  }

  &--bold {
    font-weight: $semi-bold;
  }

  &__footer {
    color: $dark;
    border: none;
    padding-bottom: 2.5rem;

    &__caption {
      position: relative;
      &:after {
        position: absolute;
        display: block;
        content: "";
        min-width: 25%;
        max-width: 300px;
        height: 10px;
        background: $orange-gradient;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 10px;
      }
    } 
  }
}