/* Navigation */
.navbar {
  @include navbar;

  &__item {
    padding: 0.5rem 1.5rem;

    &:hover {
      @include blue-gradient-button(inline-block, 0, 0.5rem 1.5rem, 100%);
      box-shadow: $blue-button-box-shadow;
    }

    &:hover .link--navbar {
      // override nav hover effect
      color: $white!important;
    }
  }
}

@media all and (min-width: 992px) {
  .navbar__item:hover .login {
    display: block;
  }

  .f-login { 
    display: none;
    background-color: $light-grey;
    padding: 50px 50px 20px;
    min-width: 477px;
    left: -200%; 

    &__content {
      background-color: $light-grey;
      border: none;
      border-radius: 0;
    }

    &__label {
      color: $grey;
      font-size: 1rem;
    }

    &__input {
      border: none;
      border-radius: 0;
      margin: 1rem 0 2rem;
    }
  }
}

/* End Navigation */