/* Section Header Styles */ 
.section {
  
  &__heading--big {
    @include heading($heading-font-big-sm, $dark-grey);
    font-weight: 600;
  }

  &__heading--small {
    @include heading($heading-font-small-sm, $light-blue-font);
    display: flex;
    align-items: center;

    &:after {
      @include blue-gradient-line(0.625rem)
    }

    &-about {
      &:after {
        @include blue-gradient-line(0.625rem, 15%);
        flex-grow: 0;
      }
    }    
  }
}

@include media-breakpoint-up(sm) {
  .section {
  
    &__heading--big {
      @include heading($heading-font-big-lg, $dark-grey);
    }
  
    &__heading--small {
      @include heading($heading-font-small-lg, $light-blue-font);
    }
  }
}

/* End Section Header Styles */ 