/* Section Testimonials */

.section-testimonials {
  background: $white;
  padding: 3rem;
}

.testimonials {
  &__card {
    box-shadow: $suble-box-shadow;
    margin-right: 10px;
    
    &:hover {
      box-shadow: $hover-box-shadow;
    }

    &__footer {
      padding: 0 1rem 0.5rem;
    }

    &__content {
      position:relative;
      color: $darker-grey;
      margin-left: 1.25rem;
      padding: 1rem 0 1rem 0.5rem;

      &:before {
        position: absolute;
        top: 25%;
        left: -8%;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        content: url('../images/design/apostrophe.png');
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: $light-blue-font;
        box-shadow: $blue-button-box-shadow;
        color: $white;
      }
    }
  }

  &__about {
    text-align: right;
  
    &--name {
      color: $dark;
      font-size: 1.25rem;
      font-weight: $semi-bold;
      margin-bottom: 0.625rem;
    }
  
    &--title {
      color: $dark-grey;
    }
  }
}

/* End Section Testimonials */