/* Section Testimonials */

.testimonials {
  &__card {
    box-shadow: $suble-box-shadow;
    margin-right: 0.625rem;
    
    &:hover {
      box-shadow: $hover-box-shadow;
    }
  }

  &__content {
    position:relative;
    color: $darker-grey;
    margin-left: 1.25rem;
    padding: 1rem 0 1rem 0.5rem;
  }

  &__about {
    text-align: right;
  
    &--name {
      color: $dark;
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.625rem;
    }
  
    &--title {
      color: $dark-grey;
    }
  }

  &__footer {
    padding: 0 1rem 0.5rem;
  }
}

@include media-breakpoint-up(lg) {
  .testimonials {
    &__content {
      &:before {
        @include blue-dot-apostrophe;
      }
    }
  }
}

/* End Section Testimonials */