/* Section Workflow */

.section-workflow {
  position: relative;

  &--bg {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: $bg-image-width;
    min-height: $bg-image-height;
    background-image: url('../images/design/service-worker.png'); 
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: right;
  }
}

.c-card {
  background-color: $white;
  border: none;
  padding: 0;
  margin-bottom: 3.125rem;
  box-shadow: $suble-box-shadow;

  &:hover {
    box-shadow: $hover-box-shadow;
  }

  &__button {
    @include accordion-button;

    &--number {
      color: $light-blue-font;
      margin: 0 0.625rem;
    }
  } 

  &__header {
    @extend .c-card;
  }
  
  &__body {
    background-color: $white;
    padding: 1.25rem 0 1.25rem;

    &:after {
      @include blue-gradient-border;
    }
  }

  &__description {
    color: $darker-grey;
    font-size: 1.125rem;
    line-height: 1.7rem;
    padding: 0 1.5rem;
  }
}

/* End Section Workflow */