/**
 * Helper mixins
*/

// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// Other clearfix options: https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}  

// Text selection
@mixin text-selection($color-selection, $color-selection-bg) {
  ::-moz-selection { // sass-lint:disable-line no-vendor-prefixes
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }

  ::selection {
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }
}

//Placeholders
//Usage:
//@include placeholder;
@mixin placeholder {
  // sass-lint:disable no-vendor-prefixes
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
};

/* Borders */

@mixin blue-gradient-border {
  background: $blue-gradient;
  content:"";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@mixin border-arrow {
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $light-blue;
  border-bottom-color: $light-blue;
  z-index: 1;
}

/* Buttons */

@mixin button ($background: $blue-gradient, $color: $white, $margin, $padding, $border-radius, $display: null, $max-width: null) {
  background: $background;
  color: $color;
  margin: $margin;
  padding: $padding;
  border-radius: $border-radius;
  display: $display;
  max-width: $max-width;
}

@mixin cla-button ($color, $font-size, $padding, $background) {
  color: $color;
  font-size: $font-size;
  padding: $padding;
  background: $background;
}

@mixin accordion-button {
  font-size: 1.25rem;
  font-weight: 600;
  color: $dark;
  text-decoration: none;
  background: transparent;
  border: none;
  padding: 1rem;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}

/* Dot */

@mixin blue-dot-apostrophe {
  position: absolute;
  top: 25%;
  left: -8%;
  width: 3.125rem;
  height: 3.125rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  content: url('../images/design/apostrophe.png');
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: $light-blue-font;
  box-shadow: $blue-button-box-shadow;
  color: $white;
}

/* Hover */

@mixin hover-item ($color, $box-shadow: null, $font-weight: null) {
  color: darken($color, 5%);
  cursor: pointer;
  text-decoration: none;
  box-shadow: $box-shadow;
  font-weight: $font-weight;
}

/* Lines */

@mixin blue-gradient-line($margin-left, $width: null) {
  flex-grow: 1;
  content: "";
  height: 1px;
  margin-left: $margin-left;
  background: $blue-gradient;
  width: $width;
}

@mixin orange-gradient-line {
  position: absolute;
  display: block;
  content: "";
  min-width: 25%;
  max-width: 300px;
  height: 10px;
  background: $orange-gradient;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
}

/* Sections */

@mixin navbar {
  font-size: 1.125rem;
  background-color: #fff;
  box-shadow: $suble-box-shadow;
  padding: 3.125rem;
}

@mixin heading ($font-size, $color) {
  font-size: $font-size;
  color: $color;
} 

/* Transitions */

@mixin add_transitions ($transitions...) { transition: $transitions };