/**
 * Helper mixins
*/

// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// Other clearfix options: https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Media queries
@mixin bp($point) {
  @if $point == large {
    @media (min-width: 1280px) { @content; }
  } @else if $point == small {
    @media (max-width: 1279px) { @content; }
  }
}

// Text selection
@mixin text-selection($color-selection, $color-selection-bg) {
  ::-moz-selection { // sass-lint:disable-line no-vendor-prefixes
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }

  ::selection {
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }
}

//Placeholders
//Usage:
//@include placeholder;
@mixin placeholder {
  // sass-lint:disable no-vendor-prefixes
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin blue-gradient-border {
  background: $blue-gradient;
  content:"";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@mixin blue-gradient-line($margin-left, $width) {
  background: $blue-gradient;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: $margin-left;
  height: 1px;
  width: $width;
}

@mixin blue-gradient-button ($display, $margin, $padding, $max-width) {
  background: $blue-gradient;
  color: $white!important;
  padding: $padding;
  font-weight: $semi-bold;
  max-width: $max-width;
  display: $display;
  text-align: center;  
  margin: $margin;
  border-radius: 25px;
  box-shadow: $suble-box-shadow;
}

@mixin navbar {
  background-color: $white!important;
  font-size: 1.125rem;
  min-height: $navbar-height;
  box-shadow: $suble-box-shadow;
  padding: 0;
}

@mixin heading ($font-size, $color) {
  font-size: $font-size;
  color: $color;
}

@mixin border-arrow {
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $light-blue;
  border-bottom-color: $light-blue;
}