/* Utils */

.bold {
  font-weight: 600;
}

.grey-bg {
  background-color: $light-grey;
}

.white-bg {
  background-color: $white;
}

.grey-text {
  color: $grey;
}

/* Buttons */

.c-btn {
  font-weight: 600;
  text-align: center;
  box-shadow: $suble-box-shadow;
  @include add_transitions(color .2s, box-shadow .2s);

  &:hover {
    @include hover-item($white, $hover-box-shadow);
  }

  &--form {
    @include button(
      $blue-gradient,
      $white,
      3rem auto 1rem, 
      15px 35px, 
      25px,
      block,
      70%,
    );
    box-shadow: $blue-button-box-shadow;
  }


  &--phone {
    @include button(
      $orange-gradient, 
      $white,
      0, 
      0.5rem 1.25rem, 
      inline-block,
    );
    border-radius: 0;
    font-size: 1.5rem
  }

  &--mail {
    @include button(
      $white, 
      $grey, 
      1.25rem 0 0,
      0.7rem 1.25rem,
      inline-block,
    );
    border-radius: 0;
    font-size: 1.125rem;

    &:hover {
      @include hover-item($grey, $hover-box-shadow);
    }
  }

  &--offer {
    @include button(
      $blue-gradient,
      $white,
      1.25rem auto, 
      0.625rem 15px, 
      25px,
      block,
      180px,
    );
    box-shadow: $blue-button-box-shadow;
  }
}

/* ------links------ */

.c-link {
  color: $grey;
  margin-left: 0.625rem;
  @include add_transitions(color .3s);

  &--navbar {
    margin: 0;

    &:before {
      display: block;
      content: attr(title);
      font-weight: 600;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }

  &--nav {
    font-size: 1.125rem;
  }

  &--contact {
    font-size: 1.25rem;
    margin-left: 0.625rem;
    font-weight: 600;
  }

  &:hover {
    @include hover-item($grey, null, 600);
  }
}