/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

$body-background-color: $white;
$foreground-color: $black;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

$orange-gradient: linear-gradient(90deg, rgba(255,177,0,1) 0%, rgba(255,114,0,1) 80%);
$blue-gradient: linear-gradient(90deg, rgba(29,98,240,1) 0%, rgba(26,214,253,1) 70%);;

$dark-blue: #1D62F0;
$light-blue: #1AD6FD;
$light-blue-font: #1AD6FD;
$grey: #5D676A;
$light-grey: #F3F3F3;
$dark-grey: #10242B;
$orange: #FF7200;


/* Components */
