/**
 * Variables
*/


/* Typography */
$default-font-size: 100%; /* 100% = 16px  */
$semi-bold: 600;

/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$dark: #10242B;
$white: #fff;

$body-background-color: $black;
$foreground-color: $black;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

$orange-gradient: linear-gradient(90deg, rgba(255,177,0,1) 0%, rgba(255,114,0,1) 80%);
$blue-gradient: linear-gradient(90deg, rgba(29,98,240,1) 0%, rgba(26,214,253,1) 70%);;
$dark-blue: #1D62F0;
$light-blue: #1AD6FD;
$light-blue-font: #1BAAF8;
$nav-link-grey: #5C666A;
$grey: #707070;
$darker-grey: #5D676A;
$light-grey: #F3F3F3;
$dark-grey: #434B4E;
$orange: #FF7200;


/* Components */

$suble-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.09);
$hover-box-shadow: 0 .5px 25px rgba(0,0,0, 0.18);
$blue-button-box-shadow: 0 10px 20px rgba(27, 160, 247, 0.5);
$transition: all .1s ease-out;

/* Nav */

$navbar-height: 150px;

/* Header */

$header-width: 1920px;

$header-caption-width: 432px;
$header-caption-height: 147px;

$heading-font-big: 68px;
$heading-font-small: 18px;

/* CLA */

$cla-height: 150px;

/* Workflow */

$accordion-width: 616px;
$accordion-height: 70px;

$bg-image-width: 750px;
$bg-image-height: 500px;


/* Brands */

// override owl-item property
$logo-width: 190px!important;
$logo-height: 80px;

/* Counter */

$counter-image-width: 80px;
