/* By Athlon Front-End Team */
@import "~bootstrap/scss/bootstrap";
/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Components */

/* Demo styles */

html {
  font-size: $default-font-size;
}

body {
  background: $body-background-color;
  color: $foreground-color;
  font-family: 'Poppins', arial, serif;
  overflow-x: hidden;
}


/* Navigation */
.navbar {
  @include navbar;

  &__nav {
    &__item {
      margin: 0 1rem;
      transition: $transition;

      &:hover {
        @include blue-gradient-button(inline-block, 0, 0 20px, 100%);
      }

      &--login {
        position: relative;
        text-decoration: none;
        transition: $transition;
      }

      &--login:hover {
        background-color: $light-grey;
      }
    }

    &__link {
      color: $nav-link-grey;
      
      &:hover {
        color: $white!important
      }

      &--login {
        color: $nav-link-grey;
        
        &:hover {
          color: $nav-link-grey;
        }
      }
    }
    &__link.active {
      font-weight: $semi-bold;
    }
  }
}

.login__form {
  position: absolute;
  top: 90px;
  right: 200px;
  background-color: $light-grey;

  &__content {
    width: 120%;
    padding: 20px;
    background-color: $light-grey;
    border: none;
    border-radius: 0;

    &__label {
      color: $dark;
      font-size: 1rem;
      margin-bottom: 10px;
    }

    &__input {
      border: none;
      border-radius: 0;
    }
  }

  &__button {
    @include blue-gradient-button(block, 50px 0 0, 10px 40px, 100%);

    &:hover {
      text-decoration: none;
      box-shadow: $hover-box-shadow;
      cursor: pointer;
    }
  }
}

/* End Navigation */


/* Header */
.header {
  position: relative;
  max-width: $header-width;
  max-height: $header-height;

  &__caption {
    position: absolute;
    max-width: $header-caption-width;
    max-height: $header-caption-height;
    background-color: $white;
    padding: 1rem .5rem;
    bottom: 15%;
    left: 15%;

    
    &__heading--big {
      @include heading($heading-font-big, $dark);
      font-weight: $semi-bold;
    }

    &__heading--small {
      @include heading($heading-font-small, $light-blue-font);
      
      &:after {
        @include blue-gradient-line(5px, 30%);
      }
    }
  }
}

/* End Header */


/* Section Header Styles */ 
.section {
  &__header {

    &__heading--big {
      @include heading($heading-font-big, $dark-grey);
      font-weight: $semi-bold;
    }

    &__heading--small {
      @include heading($heading-font-small, $light-blue-font);

      &-about {
        &:after {
          @include blue-gradient-line(10px, 30%);
        }
      }
      
      &-workflow {
        &:after {
          @include blue-gradient-line(10px, 55%);
        }
      }

      &-offer {
        &:after {
          @include blue-gradient-line(10px, 35%);
        }
      }

      &-brands {
        &:after {
          @include blue-gradient-line(10px, 25%);
        }
      }

      &-counter {
        &:after {
          @include blue-gradient-line(10px, 35%);
        }
      }

      &-testimonials {
        &:after {
          @include blue-gradient-line(10px, 15%);
        }
      }
    }
  }
}

/* End Section Header Styles */ 


/* CLA Bar */

.cla {
  max-height: $cla-height;
  color: $white;
  background: $blue-gradient;
  box-shadow: $suble-box-shadow;
  padding: 2rem 0 2rem;

  &__content {
    font-size: 1.6rem;
  }

  &__button {
    color: $white;
    padding: 0.625rem 1.25rem;
    cursor: pointer;

    &:hover {
      color: $grey;
      text-decoration: none;
      box-shadow: $suble-box-shadow;
    }

    &--phone {
      font-size: 1.5rem;
      background: $orange-gradient;
    }
    &--mail {
      font-size: 1.125rem;
      color: $grey;
      background-color: $white;

      &:hover {
        color: $dark;
      }
    }
  }
}

/* End CLA Bar */


/* Section About */

.section-about {
	background-color: $light-grey;
  text-align: center;
  padding-bottom: 2rem;
}

.about {
  &__feature {
    background-color: $white;
    box-shadow: $suble-box-shadow;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    position: relative;

    &:after {
      @include blue-gradient-border;
    }

    &__description {
      font-size: 1.375rem;
      color: $grey;
      font-weight: $semi-bold;

      &--last {
        color: $white;
      }
    }

    &--last {
      background: $blue-gradient;
    }

    &__image {
      width: 6.25rem;
      height: 6.25rem;
      margin: 0 auto 1.5rem;
    }
  }
}

.basket {
  &__title {
    color: $dark;
  }

  &__content {
    &__header {
      border: none;
    }

    &__body {
      &__row {
        border-bottom: 1px solid $grey;

      &:nth-child(odd) {
        background-color: $light-grey;
      }

      &:last-child {
        border: none;
      }
      }

      &__top {
        margin-top: 2rem;
        color: $grey;
        
        &--price {
          text-decoration: line-through;
        }
      }
      &__bottom {
        font-weight: $semi-bold;

        &--logo {
          color: $dark;
          font-size: 1.3rem;
        }
        &--price {
          color: $orange;
          font-size: 1.5rem;
        }
      }
    }
  }

  &--bold {
    font-weight: $semi-bold;
  }

  &__footer {
    color: $dark;
    border: none;
    padding-bottom: 2.5rem;

    &__caption {
      position: relative;
      &:after {
        position: absolute;
        display: block;
        content: "";
        min-width: 25%;
        max-width: 300px;
        height: 10px;
        background: $orange-gradient;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 10px;
      }
    } 
  }
}

/* End Section About */



/* Section Workflow */

.workflow {
  max-width: $accordion-width;
  max-height: $accordion-height;

  &__background {
    min-width: $bg-image-width;
    min-height: $bg-image-height;
  }

  &__card, &__card__header {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 1.25rem;
  }

  &__card {
    box-shadow: $accordion-box-shadow;

    &__body {
      padding: 1.25rem 0 1.25rem!important;

      &:after {
        @include blue-gradient-border;
      }

      &__description {
        padding: 0 1.25rem!important;
      }
    }

    &__button {
      font-size: 1.25rem;
      font-weight: $semi-bold;
      text-align: left!important;
      outline: none!important;
      width: 100%!important;
      color: $dark!important;
      text-decoration: none!important;

      &--number {
        color: $light-blue-font;
        margin: 0 0.625rem;
      }
    }
  }
}

/* End Section Workflow */


/* Section Offer */

.section-offer {
	background-color: $light-grey;
  padding-bottom: 3rem;
}

.borderArrow {
  display: none;
}

.offer {
  &__list {
    &__item {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
      border: none;
      color: $grey;
      background-color: $light-grey;
      font-size: 1.875rem;
      position: relative;
    
      &:hover .nav-link {
        box-shadow: $suble-box-shadow;
        color: $dark!important;
      }
    }
    &__link {
      display: flex;
      align-items: center;
      color: $grey;
      font-weight: $semi-bold;
      padding: 1.25rem;

      
      &__image {
        margin-right: 1.25rem;
        width: 6.56rem;
        height: 6.56rem;
      }

      &.active {
        color: $dark;
        background-color: $white;
        border-bottom: 2px solid $light-blue;

        .borderArrow {
          @include border-arrow;
        }
      }
    }
  }
  &__content {
    background-color: $white;
    color: $grey;
    font-size: 1.125rem;
    padding: 1.25rem;
    line-height: 1.7rem;

    &__button {
      @include blue-gradient-button(block, 20px auto, 10px 15px, 180px);

      &:hover {
        color: darken($white, 5%);
        text-decoration: none;
        box-shadow: $hover-box-shadow;
      }
    }
  }
}

/* End Section Offer */


/* Section Brands */

.section-brands {
  padding-bottom: 2rem;
}

.carousel {
  &__logo {
    &__image {
      width: $logo-width;
      height: $logo-height;
    }
  }
}

/* End Section Brands */


/* Section Counter */
.section-counter {
  background-color: $light-grey;
  padding-bottom: 3rem;
}

.counter {
	display: flex;
	justify-content: center;
  margin-top: 3.125rem;
  
  &__stats {
    text-align: center;
    color: $light-blue-font;
    font-size: 4.375rem;
    font-weight: $semi-bold;
    position: relative;
  }

  &__blue-dot {
    position: absolute;
    top: -25%;
    right: 25%;
  }

  &__caption {
    font-size: 1.25rem;
    color: $grey;
    font-weight: normal;
  }

  &__image {
    margin: 0 auto;
    max-width: $counter-image-width;
  }
}

/* End Section Counter */


/* Section Testimonials */

.section-testimonials {
  padding: 3rem;
}

.testimonials {
  &__card {
    box-shadow: $suble-box-shadow;
    padding: 1.25rem; 
    
    &:hover {
      box-shadow: $hover-box-shadow;
    }

    &__content {
      color: $dark;
      margin-left: 1.25rem;
      line-height: 1.6rem;
    }
  }

  &__about {
    text-align: right;
  
    &--name {
      font-size: 1.25rem;
      font-weight: $semi-bold;
      margin-bottom: 0.625rem;
    }
  
    &--title {
      color: $grey;
    }
  }
}

/* End Section Testimonials */



/* Section Footer */

.section-footer {
  background-color: $light-grey;
  color: $grey;
}

.footer {
  &__about {
    margin-top: 3.125rem;

    &__description {
      font-size: 15px;
    }

    &--bottom {
      color: $grey;
      font-size: 1.25rem;
    }

    &--bold {
      font-weight: $semi-bold;
    }
  }

  &__title {
    color: $light-blue-font;
    font-weight: $semi-bold;
    font-size: 1.25rem;

    &:after {
      @include blue-gradient-line(10px, 55%);
    }
  }

  &__links__list {
    margin-top: 1.25rem;

    &__link {
      color: $grey;
      font-size: 1.125rem;
      margin-left: 0.625rem;

      
    &:hover {
      text-decoration: none;
      color: $dark;
    }
    }
    
  }

  &__contact__list {
    margin-top: 1.25rem;

    &__link {
      color: $grey;
      font-size: 1.25rem;
      margin-left: 0.625rem;
      font-weight: $semi-bold;

      &:hover {
      color: $dark;
      text-decoration: none;
      }

      &--email {
        font-weight: normal;
      }
    }
  }
}
/* End Section Footer */


/* Section Copyright */
.copyright {
  color: $grey;

  &--bold {
    font-weight: $semi-bold;
  }
}
/* End Section Copyright */
