/* By Athlon Front-End Team */
@import "~bootstrap/scss/bootstrap";
/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Components */

/* Demo styles */

html {
  font-size: $default-font-size;
}

body {
  background: $body-background-color;
  color: $foreground-color;
  font-family: 'Poppins', arial, serif;
  overflow-x: hidden;
}

/* Navigation */
.navbar {
  color: #5C666A;
  font-size: 1.125rem;
  letter-spacing: .1rem;
  z-index: 1;
  box-shadow: $suble-box-shadow;
}

.nav-item {
  padding: .5rem;
}

/* Header */
.header {
  position: relative;

  &__caption {
    position: absolute;
    width: 25rem;
    background-color: $white;
    color: $dark;
    padding: 1rem .5rem;
    bottom: 15%;
    left: 15%;

    &__heading--small {
      font-size: 1.125rem;
      color: $light-blue-font;
      
      &:after {
        @include blue-gradient-line(5px, 30%);
      }
    }

    &__heading--big {
      font-size: 4.25rem;
    }
  }
}


/* CLA Bar */

.cla-bar {
  color: $white;
  background: $blue-gradient;
  box-shadow: $suble-box-shadow;
}

/* Section Header Styles */ 
.section {
  &__header {
    color: $grey;

    &__heading--small {
      font-size: 1.125rem;
      color: $light-blue-font;

      &-about {
        &:after {
          @include blue-gradient-line(10px, 30%);
        }
      }
      
      &-workflow {
        &:after {
          @include blue-gradient-line(10px, 55%);
        }
      }

      &-offer {
        &:after {
          @include blue-gradient-line(10px, 35%);
        }
      }

      &-brands {
        &:after {
          @include blue-gradient-line(10px, 25%);
        }
      }
    }

    &__heading--big {
      font-size: 4.25rem;
      font-weight: $semi-bold;
    }
  }
}


/* About Section */

.section-about {
	background-color: $light-grey;
  text-align: center;
  padding-bottom: 2rem;
}

.about {
  &__feature {
    background-color: $white;
    box-shadow: $suble-box-shadow;
    padding: 1.25rem 0;
    margin-bottom: 25px;
    position: relative;
    font-weight: $semi-bold;

    &:after {
      @include blue-gradient-border;
  }

    &--last {
      background: $blue-gradient;
      color: $white;
    }

    &__image {
      width: 10vh!important;
      margin: 0 auto 30px;
    }
  }
}

/* Workflow Section */

.workflow__button {
  font-weight: $semi-bold;

  &--number {
    font-weight: bold;
    color: $light-blue-font;
    margin: 0 10px;
  }
}

.card, .card-header {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 20px;
}

.card {
  box-shadow: $accordin-box-shadow;
}

.btn {
  outline: none!important;
}

.btn-link {
  width: 100% !important;
  height: 60px !important;
  color: $dark !important;
  text-align: left !important;
  text-decoration: none !important;
}

.card-body {
  padding: 1.25rem 0 1.25rem!important;

  &:after {
    @include blue-gradient-border;
  }
}

.card-description {
  padding: 0 1.25rem!important; 
}

.workflow__image {
  max-width: initial;
}

/* Offer Section */

.section-offer {
	background-color: $light-grey;
  padding-bottom: 3rem;
}

.tab-content {
  background-color: $white;
  padding: 20px;
}

.tab-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  border: none;
  color: $grey;
  background-color: $light-grey;
  font-size: 30px;
  position: relative;

  &:hover .nav-link {
    box-shadow: $suble-box-shadow;
    color: $dark!important;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  color: $grey;
  font-weight: $semi-bold;
  padding: 20px;

  &-image {
    margin-right: 20px;
  }
}

.nav-link.active {
  color: $dark;
  background-color: $white;
  border-bottom: 2px solid $light-blue;

  .border-arrow {
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $light-blue;
    border-bottom-color: $light-blue;
  }
}

.border-arrow {
  display: none;
}

.read-more {
  background: $blue-gradient;
  border: none;
  color: $white;
  padding: 10px 15px;
  font-weight: $semi-bold;
  max-width: 180px;
  display: block;
  text-align: center;  
  margin: 20px auto;
  border-radius: 25px;
  box-shadow: $suble-box-shadow;
}

.read-more:hover {
  color: darken($white, 5%);
  text-decoration: none;
  box-shadow: $hover-box-shadow;
}

.section-brands {
  padding-bottom: 2rem;
}