/* Bootstrap */
@import 'bootstrap/bootstrap';

/* Owl Carousel */
@import '~owl.carousel/dist/assets/owl.carousel.css';

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Utils */
@import 'base/utils';

/* Components */
@import 'components/nav';
@import 'components/hero';
@import 'components/section-header';
@import 'components/modal-basket';
@import 'components/cla';
@import 'components/about';
@import 'components/offer';
@import 'components/workflow';
@import 'components/counter';
@import 'components/testimonials';
@import 'components/footer';
@import 'components/copyright';


/* Base */

html {
  font-size: $default-font-size;
}

body {
  background: $body-background-color;
  color: $foreground-color;
  font-family: 'Poppins', arial, serif;
  overflow-x: hidden;
}

/* Media Queries */


// define min-width breakpoint at which layout changes
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// define the maximum width for different screen sizes
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1920px
);

